:root {
  --background-color: rgb(104, 104, 104);
  --title-background: rgb(50, 50, 50);
  --body-background: rgb(200, 200, 200);
  --name-color: rgb(0, 0, 190);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

header {
  width: 100%;
  display: flex;
  padding: 1em 0;
  background: var(--background-color);
  justify-content: center;
}

.title {
  background: var(--background-color);
  color: white;
}
